.header {
  display: flex;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 300;
  color: #01225e;
  background: none;
}

.panelContent {
  padding: 0 24px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footerButtons {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 2em 18em 2em 5.2em;
  background: #fff;
  z-index: 100;
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #01225e;
}

.loadingText {
  font-size: 16px;
  color: #01225e;
  margin-right: 12px;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 4px solid #eee;
  border-top: 4px solid #01225e;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
