@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

*,
*:after,
*:before {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%!important;
	min-height: 100%!important;
	box-sizing: border-box!important;
}

a,
button {
	transition: all 0.3s ease-out;
	text-decoration: none;
}

input:not([type])[disabled],
input[type=email][disabled],
input[type=file][disabled],
input[type=password][disabled],
input[type=text][disabled],
select[disabled],
textarea[disabled] {
	color: rgb(166, 166, 166);
}

body {
	font-family: 'DIN', Arial, sans-serif !important;
	background: $ms-color-white;
}
