@import '~@fluentui/react/dist/sass/References.scss';

.tooltipButton {
	background-color: #cfcfcf;
	border-radius: 60px;
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
	outline: none;
	text-align: center;
	color: #fff;

	.icon {
		color: inherit;
		display: block;
		text-align: center;
	}
}
