@import '~@fluentui/react/dist/sass/References.scss';

.banner {
	width: 100%;
	position: relative;
	margin-bottom: 30px;

	.image {
		display: block;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
	}

	.container {
		background-color: #0000005c;
		position: absolute;
		text-align: center;
		padding: 15px;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		top: 0;

		@include ms-screen-lg-up {
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		@include ms-screen-xl-up {
			display: inherit;
			width: auto;
			-webkit-transform: none;
			background-color: #0000005c;
			position: absolute;
			top: 50%;
			height: auto;
			transform: translateY(-50%);
			text-align: left;
		}

		.title {
			color: #fff;
			font-size: 20px;
			font-weight: 600;
			margin: 0;

			@include ms-screen-lg-up {
				font-size: 20px;
				font-weight: 600;
			}

			@include ms-screen-lg-up {
				font-size: 20px;
				font-weight: 600;
			}

			@include ms-screen-xl-up {
				color: #fff;
				font-size: 32px;
				font-weight: 600;
			}
		}

		.caption {
			color: #cecece;
			margin: 10px 0 0 0;
			display: block;

			@include ms-screen-lg-up {
				font-size: 16px;
			}

			@include ms-screen-xl-up {
				font-size: 26px;
			}
		}
	}
}
