.spinner {
    position: absolute;
    top: 23%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container {
    position: relative;
}

.text {
    color: gray;
    margin-top: 8px;
}