@import "../../scss/variables";

.proveedorButton {
  padding: 16px 24px;
  border-radius: $button-border-radius-big;
  font-size: 16px;
  font-weight: 500;
  transition: $button-transition;
  border: none;
  display: flex;
  width: 100%;
  min-height: 140px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 12px;
  }

  .text {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    color: $text-dark;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    color: $text-dark;
    height: 100%;
    width: 100%;
  }

  .imageContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    padding: 8px;
    margin: 8px 0;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .subText {
    font-size: 1rem;
    font-weight: 600;
    color: $blue-dark;
    text-align: center;
    padding: 8px 16px;
    border-radius: 4px;
    width: 100%;
  }

  // Variantes de color
  &.bluePrimary {
    background-color: $blue-primary;
    color: $text-light;
    &:hover {
      background-color: $blue-primary-hover;
    }
  }

  &.blueSecondary {
    background-color: $blue-secondary;
    color: $text-light;
    &:hover {
      background-color: $blue-secondary-hover;
    }
  }

  &.blueDark {
    background-color: $blue-dark;
    color: $text-light;
    &:hover {
      background-color: $blue-dark-hover;
    }
  }

  &.green {
    background-color: $green;
    color: $text-light;
    &:hover {
      background-color: $green-hover;
    }
  }

  &.purple {
    background-color: $purple;
    color: $text-light;
    &:hover {
      background-color: $purple-hover;
    }
  }

  &.orange {
    background-color: $orange;
    color: $text-light;
    &:hover {
      background-color: $orange-hover;
    }
  }
  &.grey {
    background-color: $grey;
    color: $text-light;
    &:hover {
      background-color: $grey-hover;
    }
  }
}

.titleButton :global([class^="ms-Button-flexContainer"]) {
  width: inherit;
}
