.adminContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 100vw;
  height: 80vh;
  box-sizing: border-box;

  @media (max-width: 900px) {
    flex-direction: column;
    min-height: unset;
    padding: 8px;
  }
}

.fullWindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 900px) {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.leftPanel {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background: #fff;
  padding: 1rem 4rem 0 0;
  margin: 0 auto;

  @media (max-width: 900px) {
    width: 100%;
    margin: 0 auto;
  }
}

.leftContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 32px 0;
  border-radius: 8px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
}

.leftPanelHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.obirasIcon {
  width: 40px;
  height: 40px;
}

.obirasTitle {
  font-size: 40px;
  font-weight: bold;
  color: #2d6ee2;
}

.leftPanelText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.welcomeText {
  font-size: 20px !important;
  font-weight: 300 !important;
  text-align: left !important;
  color: #444;
  margin-bottom: 0;

  &.secondLine {
    margin-bottom: 32px;
  }
}

.homeImage {
  max-width: 80%;
  max-height: 400px;
  align-self: center;
  margin-top: 10px;
}

.rightPanel {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 0 0 4rem;
  margin: 0 auto;

  @media (max-width: 900px) {
    width: 100%;
    margin: 0 auto;
  }
}

.buttonsWrapper {
  width: 350px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
}

:global(.titleButton) {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
  text-align: left !important;
}

:global(.titleButton .text) {
  flex: 1 1 auto;
  text-align: left;
}

:global(.titleButton .icon) {
  margin-left: 16px;
  margin-right: 0;
  order: 2;
}
